<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>ReactJs</h1>
                        <p class="">A JavaScript library for building user interfaces.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>NodeJs</h1>
                        <p>Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>ExpressJs</h1>
                        <p>Fast, unopinionated, minimalist web framework for Node.js.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1>MongoDB</h1>
                        <p>MongoDB is an open source NoSQL database management program. NoSQL is used as an alternative to traditional relational databases. NoSQL databases are quite useful for working with large sets of distributed data. MongoDB is a tool that can manage document-oriented information, store or retrieve information..</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Team Member</h1>
                        <p>Website Developer</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Kashif</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Niranjan</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Bharat</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="http://cdn.savoy.nordicmade.com/wp-content/uploads/2015/08/team-member-2.jpg"
                                    alt="" />
                                <h1>Naveen</h1>
                                <p>Co-founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>NIT PATNA</h1>
                        <p>Engineering College</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.static-collegedunia.com/public/college_data/images/campusimage/1611227238IMG_20201103_111805.jpg"
                                    alt="" />
                                    <h1>About College</h1>
                                <p>National Institute of Technology Patna , formerly Bihar School of Engineering and Bihar College of Engineering , is a public engineering Institute located in Patna in the Indian state of Bihar . It was renamed as Nit Patna , by the government of India on 28 January 2004 .

NIT Patna functions from a 40 acres campus along Ashok Rajpath, geographically which lies on the southern bank of river Ganges .The campus lies alongside Gandhi Ghat where student usually enjoy scenic views of river Ganga and they also enjoy roaming around Ganga ghat in evening and be part of the most amazing Ganga aarti , which is a eye-catching event . Chhat Puja is also one of the most celebrated Indian festivals , which is celebrated at the ghat . The Building of NIT Patna is the most beautiful part of its infrastructure ,those reddish buildings are look like a fort ..</p>
                                
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://images.static-collegedunia.com/public/college_data/images/campusimage/14359019641%20(1).jpg"
                                    alt="" />
                                <h1>Placement Details</h1>
                                <p>National Institute of Technology (NIT) Patna placements 2021 are going on and 78.82% offers have been made so far. As per the latest report, NIT placements 2021 observed the highest package of INR 10 LPA, whereas the average package stood at INR 5.04 LPA till now.

National Institute of Technology (NIT) Patna has received the 100% placement record this season with maximum number of placements in BTech CSE department. The NIT Patna placement CSE has grabbed the highest placement package of Rs 43.17 LPA with 120 offers in 80 students. Despite Covid-19 majorly affecting the recruitment season, NIT Patna placements has still shown an upward trend. 

Most of the job offers were in the Engineering sector followed by Education and Business Development sector in various top roles like Block chain developer, Machine learning expert, Technical writer, Salesforce engineer, Graduate engineering trainee, etc.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>